<body >

    <div class="CartContainer">
        <h1>User Login</h1>
        <h5 class="text-success"><b>{{success}}</b></h5>
        <h5 class="text-danger"><b>{{error}}</b></h5>
        <h5 class="text-danger"><b>{{error1}}</b></h5>
        <form  #login="ngForm" (ngSubmit)="userLogin()">
            <div class="form-group">
            <label class="form-label"><b>Email Id:</b> </label>
            <input type="email" class="form-control" placeholder="enter your email" name="email" id="email" [(ngModel)]="user.email" required #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched">
        </div>
        <div class="form-group">
            <label class="form-label"><b>Password:</b> </label>
            <input type="email" class="form-control" placeholder="enter your password" name="password" id="password" [(ngModel)]="user.password" required #password="ngModel"
            [class.is-invalid]="password.invalid && password.touched">
           </div>
           <div>
            <button type="submit" class="btn btn-success">Login</button>
           </div>
           <small>New User? Register Here<a routerLink="/regi"><button class="btn btn-outline-default">SignUp</button></a> </small>
        </form>
       
    </div>
</body>
<router-outlet></router-outlet>