
<ul>
  <div class="right">
    
  <li><a routerLink="/"> <button  class="btn btn-outline-default" ><b>Login</b></button></a></li>
  <li><a routerLink="/profile"> <button  class="btn btn-outline-default" ><img src="./assets/person-circle.svg" width="32" height="28"></button></a></li>
</div>
<li><a routerLink="/home"><button class="btn btn-outline-default" ><img src="./assets/house-heart.svg" width="32" height="32"></button></a></li>
  <li><a routerLink="/cart"><button class="btn btn-outline-default" ><img src="./assets/cart-check-fill.svg" width="32" height="32"><div style="font-size: 10px;" class="badge bg-danger">{{totalItem}} </div> </button></a></li>

  </ul>


<router-outlet></router-outlet>